/* Header Styles */

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.brand-logo a {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 500;
    text-transform: uppercase;
}

nav a:hover {
    color: red;
}

.login-btn button {
    padding: 4px 16px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 1020px;
}
/* Footer Styles */

footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: black;
    font-size: x-large;
    font-weight: 500;
    text-transform: uppercase;
}
