:root {
    font-family: "Poppins", sans-serif;
}
/* Reset default margin & padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
}
body {
    padding-top: 100px;
}
